@model FilmsCatalog.Models.Movie

@{
    ViewData["Title"] = "Редактирование карточки";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" maxlength="1024" rows="6" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosterFile" class="control-label"></label>
                <input asp-for="PosterFile" type="file" accept="image/jpeg,image/png" hidden />
                @Html.Raw("<div id=\"poster-container\" title=\"Кликните для загрузки\" style=\"background: url('data:image/jpeg;base64,"
                        + Convert.ToBase64String(@Model.Poster != null ? Model.Poster : new byte[]{}) + "\" />")
            </div>
            <div class="form-group">
                <div class="flex-container">
                    <div>
                        <input type="submit" value="Сохранить" class="btn btn-primary" />
                    </div>
                    <div>
                        <a asp-action="Index">К списку фильмов</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
